

.MainGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    grid-gap: 1em;
    grid-auto-flow: dense;
}




.arcticle{
    box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

.arcticle:nth-child(1),
.arcticle:nth-child(8),
.arcticle:nth-child(12){
    grid-column: span 3;
}



.arcticle:nth-child(1){
    grid-column: 1/-1;
    
}


@media (max-width: 730px) {
    .MainGrid {
      display: flex;
      flex-direction: column;
    }
  
    .arcticle {
      margin-bottom: 2em;
    }
  }